body {
    height: 100vh;
    font-family: Roboto, sans-serif;
    background-color: #1f2937;
    color: white;
    padding: 8px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    
    background-color: #1f2937;
    color: white;
    padding: 8px;
}

.logo {
    height: 100px;
    border-radius: 50%;
}

.links, .logo {
    display: flex;
    align-items: center;
    gap: 24px;
}

.wallet-button {
    display: flex;
    align-content: flex-end;
    border-radius: 12px;
    padding: 8px;
    font-size: 18px;
    color: white;
    background-color: purple;
}

ul {
    list-style-type: none;
}

.header-sub, .hs-middle {
    display: flex;
    justify-content: space-evenly;
    font-size: 48px;
}

.hs-middle {
    justify-content: center;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px;
}

.hs-img {
    border-radius: 25px;
}

.hs-button {
    display: flex;
    justify-content: center;
    border-radius: 12px;
    padding: 8px;
    font-size: 18px;
    color: white;
    background-color: purple;
}

.sec-2 {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    gap: 52px; 
    border-radius: 25px;
}

.sec-2-title {
    display: flex;
    justify-content: center;
    font-weight: 36px;
    font-size: 36px;
    text-decoration-line: underline;
}

.sec-2-img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    padding: 0px;
}

.sec-2-info {
    max-width: 200px;
    padding: 10px;
    text-align: center;
}

.sec-2-text {
    font-weight: bold;
}

.coin-info {
    color: gray;
}

.coin-info-2 {
    color: green;
}

.sec-2-button {
    text-align: center;
    color: white;
    background-color: black;
    gap: 52px; 
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
}

.sec-3 {
    display: flex;
    justify-content: space-evenly;
}

.sec-3-title {
    display: flex;
    justify-content: center;
    font-weight: 36px;
    font-size: 36px;
    text-decoration-line: underline;
}

.sec-3-info {
    max-width: 200px;
    padding: 10px;
    text-align: center;
}

.sec-3-text {
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
}

.sec-3-img {
    display: flex;
    height: 200px;
}

.steps {
    flex-wrap: wrap;
}

.sec-4-title {
    display: flex;
    justify-content: center;
    font-weight: 36px;
    font-size: 36px;
}

.sec-4 {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    gap: 52px; 
    border-radius: 25px;
    margin: 10px;
    font-weight: bold;
}

.sec-4-button {
    display: flex;
    justify-content: center;
}