body {
    height: 100vh;
    font-family: Roboto, sans-serif;
    background-color: #1f2937;
    color: white;
    padding: 8px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
    padding: 8px;
}

.logo {
    height: 100px;
    border-radius: 50%;
}

.links, .logo {
    display: flex;
    align-items: center;
    gap: 24px;
}

button {
    border-radius: 12px;
    padding: 8px;
    font-size: 18px;
    color: white;
    background-color: purple;
}

ul {
    list-style-type: none;
}

.header-subsection, .hs-middle {
    display: flex;
    justify-content: space-evenly;
    font-size: 48px;
}

.hs-middle {
    justify-content: center;
}

.hs-button {
    display: flex;
}

.sec-2 {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    gap: 52px; 
}

.sec-2-title {
    display: flex;
    justify-content: center;
    font-weight: 36px;
    font-size: 36px;
}

.sec-2-img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    padding: 0px;
}

.sec-2-info {
    max-width: 200px;
    padding: 10px;
    text-align: center;
}

